<%= form_tag("/signup", method: :get) do %>

    <p>ユーザー名</p>
    <input name="name">
    <p>メールアドレス</p>
    <input name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <input type="submit" value="新規登録">

<% end %>
